//
// Color definitions
//
$off_white: #eee;
$light_gray: #d4d4d3;
$medium_gray: #bbb;
$dark_gray: #444443;

//$dark_orange: #d36400;
$dark_orange: #c95f00;


//
// Layout Colors
//
$background_color: $off_white;
$article_border_color: $light_gray;

$footer_background_color: $dark_gray;

//

// Type Colors
//
$header_color: $dark_orange;
$header_nav_color: $medium_gray;

$body_color: $dark_gray;

$link_color: $dark_orange;
$link_color_hover: darken($link_color, 5%);
//$link_color_visited: darken($link_color, 3%);
$link_color_visited: $link_color;

$article_header_color: $header_color;
$article_meta_color: $medium_gray;

$footer_color: $off_white;
