//
// Structure
//
$footer_height: 300px;
$footer_responsive_height: 450px;

html, body, #wrapper {
  height: 100%;
}

#wrapper {
  height: auto;
  min-height: 100%;
}

#wrapper > .container {
  padding-bottom: $footer_height;
}

body > footer {
  position: relative;
  margin-top: -$footer_height;
  height: $footer_height;
  clear: both;
}

@include breakpoint(medium) {
  #wrapper > .container {
    padding-bottom: $footer_responsive_height;
  }

  body > footer {
    margin-top: -$footer_responsive_height;
    height: $footer_responsive_height;
  }
}



//
// Width Container
//
.container {
  @include clearfix;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
}


//
// Body
//
body {
  background-color: $background_color;
}


//
// Header
//
.container > header {
  @include clearfix;
  margin-top: 40px;
  margin-bottom: 40px;

  @include breakpoint(small) {
    margin-bottom: 20px;
    text-align: center;
  }

  .gravatar {
    @include border-radius(50%);
    float: right;
    height: 100px;
    margin: 0;
    overflow: hidden;
    width: 100px;

    @include breakpoint(small) {
      float: none;
      margin: 0 auto;
    }
  }

  .title {
    margin-top: 18px;
  }

  nav {
    ul {
      @include inline-list;

      @include breakpoint(small) {
        margin: 0 auto;
      }

      li {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


//
// Articles
//
#content > article {
  border-top: 1px solid $article_border_color;
  padding: 40px 0;

  &:first-child {
    border-top: none;
  }

  header {
    margin-bottom: 17px;
  }
}


//
// Pagination
//
nav.pagination {
  border-top: 1px solid $article_border_color;
  padding-top: 20px;
  padding-bottom: 40px;
}


//
// Footer
//
body > footer {
  @include box-sizing(border-box);
  background-color: $footer_background_color;
  color: $footer_color;
  padding: 40px 0;

  section {
    @include box-sizing(border-box);
    float: left;

    &.about {
      padding-right: 40px;
      width: 70%;
    }

    &.contact {
      width: 30%;
    }

    @include breakpoint(medium) {
      float: none;
      margin-bottom: 30px;

      &.about, &.contact {
        padding-right: 0;
        width: 100%;
      }
    }

    h4 {
      border-bottom: 1px solid $dark_orange;
      margin-bottom: 10px;
    }
  }

  .copyright {
    clear: both;
    padding-top: 40px;

    @include breakpoint(medium) {
      padding-top: 20px;
    }
  }
}


//
// Responsive Shizz
//
img, embed, iframe {
  display: block;
  border: 0;
  max-width: 100%;
}
