//
// Structure
//
// Uses sticky footer technique from here:
// http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/
//
html, body {
  height: 100%;
}

body {
  display: table;
  height: 100%;
  width: 100%;
}

body > header,
#wrapper,
body > footer {
  display: table-row;
  height: 1px;
}

#wrapper {
  height: 100%;
}


//
// Width Container
//
.container {
  @include clearfix;
  margin: 0 auto;
  max-width: 720px;
  padding: 0 20px;
}


//
// Body
//
body {
  background-color: $background_color;
}


//
// Header
//
body > header {
  @include clearfix;

  @include breakpoint(small) {
    margin-bottom: 20px;
    text-align: center;
  }

  .gravatar {
    @include border-radius(50%);
    float: right;
    height: 100px;
    margin: 40px 0;
    overflow: hidden;
    width: 100px;

    @include breakpoint(small) {
      float: none;
      margin: 40px auto 30px;
    }
  }

  .title {
    margin-top: 58px;

    @include breakpoint(small) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  nav {
    @include breakpoint(small) {
      margin-bottom: 20px;
    }

    ul {
      @include inline-list;

      @include breakpoint(small) {
        margin: 0 auto;
      }

      li {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


//
// Content
//
#content {
  padding: 20px 0;
}


//
// Articles
//
#content > article {
  border-top: 1px solid $article_border_color;
  padding: 40px 0;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  &.standalone {
    header {
      margin-bottom: 17px;
    }
  }
}


//
// Pagination
//
nav.pagination {
  border-top: 1px solid $article_border_color;
  padding-top: 20px;
  padding-bottom: 40px;
}


//
// Footer
//
body > footer {
  background-color: $footer_background_color;
  color: $footer_color;

  section {
    @include box-sizing(border-box);
    float: left;
    padding-top: 40px;

    &.about {
      padding-right: 60px;
      width: 70%;
    }

    &.contact {
      width: 30%;

      ul {
        margin-bottom: 0;
      }
    }

    &.copyright {
      clear: both;
      padding-bottom: 40px;
    }

    @include breakpoint(medium) {
      float: none;
      padding: 20px 0;

      &.about, &.contact, &.copyright {
        padding-right: 0;
        width: 100%;
      }

      &.about {
        padding-top: 40px;
      }

      &.copyright {
        padding-bottom: 40px;
      }
    }

    h4 {
      border-bottom: 1px solid $dark_orange;
      margin-bottom: 10px;
    }
  }

}


//
// Responsive Shizz
//
* {
  @include transition(all 0.2s linear);
}

img, embed, iframe {
  display: block;
  border: 0;
  max-width: 100%;
}
