@mixin header-font {
  font-family: "Merriweather", serif;
  font-weight: 900;
}

@mixin body-font {
  font-family: "Lora", serif;
  font-weight: 400;
}

body {
  @include body-font;

  background: #ECEBE9;
  padding: 0;
  margin: 0;

  font-size: 20px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }

