<div class="container">
  <section class="about">
    <h4>About</h4>
    <p>Software craftsman, design geek and beverage enthusiast. After five years
    at Google, I left San Francisco for Charlotte, NC to explore my own ideas,
    build a business, and be a parent. Currently building <a href="http://rationalmeans.com">Rational Means</a>
    to help others grow their business, advising other startups, meeting people,
    and trying all the whiskey I can find.</p>

    <a href="/about">Read more about me</a>
  </section>

  <section class="contact">
    <h4>Contact</h4>
    <ul>
      <li><a href="mailto:tim@rationalmeans.com"><i class="icon-envelope-alt"></i> tim@rationalmeans.com</a></li>
      <li><a href="https://twitter.com/timcheadle"><i class="icon-twitter"></i> @timcheadle</a></li>
      <li><a href="https://github.com/timcheadle"><i class="icon-github-alt"></i> GitHub</a></li>
      <li><a href="/feed.xml"><i class="icon-rss"></i> RSS Feed</a></li>
      <li><a href="http://rationalmeans.com"><i class="icon-coffee"></i> Work With Me</a></li>
    </ul>
  </section>

  <section class="copyright">
    &copy; <%= Time.now.year %> Tim Cheadle
  </section>
</div>
