<div class="container">
  <div class="gravatar">
    <a href="/"><img alt="Tim Cheadle" src="<%= blog_gravatar(400) %>"></a>
  </div>

  <div class="title">
    <h1><a href="/"><%= settings.blog_title %></a></h1>
    <span class="subtitle">Engineer, Designer, Maker</span>
  </div>
</div>
