<div class="gravatar">
  <a href="/"><img alt="Tim Cheadle" src="<%= blog_gravatar() %>"></a>
</div>

<div class="title">
  <h1><a href="/"><%= settings.blog_title %></a></h1>
</div>

<nav role="navigation">
  <ul class="nav-list">
    <li><a href="/about">About</li>
    <li><a href="/resume">Resume</li>
  </ul>
</nav>
