<div class="gravatar">
  <a href="/"><img alt="Tim Cheadle" src="<%= blog_gravatar() %>"></a>
</div>

<div class="title">
  <h1><a href="/"><%= settings.blog_title %></a></h1>
</div>

<nav role="navigation">
  <ul class="nav-list">
    <li><a href="/about">About</a></li>
    <li><a href="https://www.dropbox.com/s/f9wopz34xzthyta/Tim%20Cheadle%20Resume.pdf">Work</a></li>
    <li><a href="https://twitter.com/timcheadle">Twitter</a></li>
  </ul>
</nav>
