<% wrap_layout :layout do %>
  <section id="content">
    <article class="post standalone">
      <header>
        <h1><%= current_page.data.title %></a></h1>
        <time datetime="<%= current_page.data.date %>"><%= DateTime.parse(current_page.data.date).strftime('%B %e, %Y') %></time>
      </header>

      <%= yield %>
    </article>
  </section>
<% end %>
